---
import ListItem from '../ListItem.astro';
import TextBlock from '../TextBlock.astro';
import { t } from 'i18next';
import CompetitionChart from './CompetitionChart.svelte';
---

<div class="mb-10 sm:mb-14 mx-0 ms:mx-4 lg:mx-0">
  <CompetitionChart client:visible text={t('candidates.chart-headline')} />
</div>

<div class="mb-10 sm:mb-14 mx-4 lg:mx-0">
  <TextBlock>
    {t('candidates.text')}
  </TextBlock>
</div>

<div class="mx-4 lg:mx-0">
  <div class="md:flex gap-3">
    <ListItem text={t('candidates.points.1')} />
    <ListItem text={t('candidates.points.2')} />
  </div>
  <div class="md:grid grid-cols-3 gap-3">
    <ListItem text={t('candidates.points.3')} />
    <div class="w-full flex-auto col-span-2">
      <ListItem text={t('candidates.points.4')} />
    </div>
  </div>
  <ListItem text={t('candidates.points.5')} />
</div>
