---
import OpenCookieBannerBtn from './OpenCookieBannerBtn.svelte';
---

<footer
  class="w-full flex justify-center items-center flex-col bg-black text-white p-3 text-xs sm:flex-row sm:justify-between"
>
  <div class="mb-2 sm:mb-0">FixYourMoney</div>
  <div class="mb-2 sm:mb-0">Made with 🧡 by <a href="#">Leo</a> & <a href="#">helpers</a></div>
  <nav class="mb-2 sm:mb-0">
    <a href="https://leo-mattes.com/impressum/">Impressum</a>
    <span class="mx-1">|</span>
    <a href="/datenschutz">Datenschutz</a>
    <span class="mx-1">|</span>
    <OpenCookieBannerBtn client:visible />
  </nav>
</footer>
