---
import ListItem from './ListItem.astro';
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<ul>
  {
    items.map((item) => (
      <li>
        <ListItem text={item} />
      </li>
    ))
  }
</ul>
